<ion-view view-title="Contacts" class="ymContacts">
  <ion-header-bar align-title="center" class="bar-dark" >
    <h1 class="title">Contacts</h1>
    <div class="buttons" ng-controller="NavCtrl">
      <button class="button button-clear" ng-click="">
        <i class="icon ion-ios-search"></i>
      </button>
    </div>

  </ion-header-bar>
  <ul class="nav">
    <li>A</li>
    <li>B</li>
    <li>C</li>
    <li>D</li>
    <li>E</li>
    <li>F</li>
    <li>G</li>
    <li>H</li>
    <li>I</li>
    <li>J</li>
    <li>K</li>
    <li>L</li>
    <li>M</li>
    <li>N</li>
    <li>O</li>
    <li>P</li>
    <li>Q</li>
    <li>R</li>
    <li>S</li>
    <li>T</li>
    <li>U</li>
    <li>V</li>
    <li>W</li>
    <li>X</li>
    <li>Y</li>
    <li>Z</li>
  </ul>
  <ion-content >
    <style>

    </style>
    <div>
      <ul>
        <li>
          <i class="icon ion-ios-personadd" style="background-color: darkorange;"></i><h2>新的朋友</h2>
        </li>
        <li>
          <i class="icon ion-android-contacts" style="background-color: limegreen;"></i><h2>群聊</h2>
        </li>
        <li>
          <i class="icon ion-ios-pricetag" style="background-color: deepskyblue;"></i>
          <h2>标签</h2>
        </li>
        <li>
          <i class="icon ion-ios-at" style="background-color: orangered;"></i>
          <h2>公众号</h2>
        </li>
      </ul>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right group"
                ng-repeat="contact in contacts" type="item-text-wrap" >
        <p ng-bind="contact.order"></p>
        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right"
                    ng-repeat="people in contact.people" type="item-text-wrap" ng-click="showInfo(people.id)">
            <img ng-src="{{people.face}}">
            <h2>{{people.name}}</h2>
          </ion-item>
        </ion-list>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
