<ion-view view-title="Account">
  <ion-header-bar align-title="center" class="bar-dark" >
    <h1 class="title">WeChat</h1>
    <div class="buttons" ng-controller="NavCtrl">
      <button class="button button-clear" ng-click="showMyPopup()">
        <i class="icon ion-android-add"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
