<ion-view view-title="Chats">

  <ion-header-bar align-title="center" class="bar-dark" >
    <h1 class="title">WeChat</h1>
    <div class="buttons" ng-controller="NavCtrl">
      <button class="button button-clear" ng-click="showMyPopup()">
        <i class="icon ion-android-add"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="ymChats">
    <style>
      .ymChats ion-item a{
        height: 75px;
      }
      .ymChats .item-avatar .msgRead{
        position: relative;
        background-color: #ef473a;
        left:-28px;
        top:1px;
        padding: 1px 6px;
        border-radius: 10px;
        text-align: center;
        line-height: 16px;
        font-size: 12px;
        color: white;
        font-weight: bold;
      }
      .ymChats .item-avatar .msgRead+h2{
        margin-top: -18px;
      }
      .ymChats .item-avatar .msgRead+h2.read{
        margin-top: 0;
      }
    </style>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    <ion-list show-delete="data.showDelete" on-hold="onChatHold();onclick=false;">
      <ion-item class="item-remove-animate item-avatar item-icon-right"
                ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}" ng-click="read(chat.id)" >
        <ion-delete-button class="ion-minus-circled"
                           ng-click="remove(chat)">
        </ion-delete-button>
        <img ng-src="{{getPeople(chat.id).face}}" >
        <span ng-show="!chat.read" class="msgRead">1</span>
        <h2 ng-class="{true:'read',false:''}[chat.read]">{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon icon-accessory" style="margin-right:23px;font-size: 13px;">星期三</i>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list><ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
  </ion-content>
</ion-view>

